.main {
    color: red;
    background-color: antiquewhite;
    position: fixed;

}

div {
    border: 3px solid #6a856a;
    left: 50px;
    top: 10px;
    background-color: azure;
    position: sticky;
    position: -webkit-sticky;
    /* safari IE için; Ekrana dururlar. Scrool çekildiğinde yapışma görevine geçerler.*/
}

/* ul {
    list-style-type: none;
} */

li {
    display: inline-block;
    border: 4px solid green;
    margin-left: 8px;
    padding: 3px;
    background-color: beige;
}

li:nth-child(2) {
    position: relative;
    /*'relative' elementin asıl yerine göre değişim kayma işlemi yapar. */
    top: 30px;
    left: 10px;
}

.me {
    position: relative;
    display: block;
    width: 300px;
    height: 350px;
}

.paraf {
    position: absolute;
    /*'absolute' elementin bir üstündeki elemetin konumuna göre hareket etmeye yarar */
    bottom: 25px;
    right: 20px;
    border: 2px solid red;
    margin: 0;
    padding: 0;
}